<!DOCTYPE html>
<html>
  <head>
    <title>EmissionTracker</title>
  </head>
  <body>
    <h1>
      <a href="/">EmmssionTracker</a>
    </h1>
    <table align = "center">
      <tr>
        <form action="/goBack" method="post"></form>
        <td>
          <tr>
            <td>
              Starting Point:
            </td>
            <td>
              <input type="text" name="Submit2"></input>
            </td>
          </tr>
          <tr>
            <td>
              Ending Point:
            </td>
            <td>
              <input type="text" name="Submit2"></input>
            </td>
          </tr>
          <tr>
            <td>
              Type of Car:
            </td>
            <td>
              <select name="Submit2">
                <option value="Diesel under 20K lbs">Diesel Car under 20K lbs</option>
                <option value="Diesel 20-33K lbs">Diesel Car 20-33K lbs</option>
                <option value="Diesel above 33K lbs">Diesel Car above 33K lbs</option>
                <option value="Gas under 20K lbs">Gas Car under 20K lbs</option>
                <option value="Gas 20-33K lbs">Gas Car 20-33K lbs</option>
                <option value="Gas above 33K lbs">Gas Car above 33K lbs</option>
              </select>
            </td>
          </tr>
        </td>
        <td>
          <button class="button" onclick="document.location = '/dashboard'"> Submit </button>
        </td>
      </tr>
    
    
    
    </div>
  </body>
</html>