<!DOCTYPE html>
<html>
  <head>
    <title>
        EmmissionTracker
    </title>
  </head>

  <body>
      <h1>
        <a href="/">EmmssionTracker</a>
      </h1>

      <table align = "center">
        <tr>
            <td>
                <button class="button" onclick="document.location = '/login'">
                    Login
                </button>
            </td>
            <td>
                <button class="button" onclick="document.location = '/signup'">
                    Sign Up
                </button>
            </td>
        </tr>
        
      </table>
  </body>
</html>